[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/4.1%20ETF%20%EB%AA%A9%EB%A1%9D%20%EC%88%98%EC%A7%91-output.ipynb)


## ETF란?
* ETF(상장지수펀드)는 기초지수의 성과를 추적하는 것이 목표인 인덱스펀드로, 거래소에 상장되어 있어서 개별주식과 마찬가지로 기존의 주식계좌를 통해 거래를 할 수 있습니다. 그 구성종목과 수량 등 자산구성내역(PDF)이 투명하게 공개되어 있고, 장중에는 실시간으로 순자산가치(NAV)가 제공되어 거래에 참고하실 수 있습니다. ETF는 1좌를 거래할 수 있는 최소한의 금액만으로 분산투자 효과를 누릴 수 있어 효율적인 투자수단이며, 펀드보다 운용보수가 낮고 주식에 적용되는 거래세도 붙지 않습니다. 
    * 출처 : [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)


## 크롬 브라우저의 네트워크 정보를 통한 데이터 수집
* json 데이터 수집과 파일저장 방법

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)

In [1]:
# 라이브러리를 불러옵니다.
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy, http 요청을 위한 requests를 받아옵니다.
import pandas as pd
import numpy as np
import requests

In [2]:
# 수집할 url을 가져옵니다.
url = "https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc"

## Pandas를 통한 요청

In [3]:
# pd.read_html(url)

## JSON 

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/300px-JSON_vector_logo.svg.png" width="100">

JSON(제이슨, JavaScript Object Notation)은 속성-값 쌍( attribute–value pairs and array data types (or any other serializable value)) 또는 "키-값 쌍"으로 이루어진 데이터 오브젝트를 전달하기 위해 인간이 읽을 수 있는 텍스트를 사용하는 개방형 표준 포맷이다. 비동기 브라우저/서버 통신 (AJAX)을 위해, 넓게는 XML(AJAX가 사용)을 대체하는 주요 데이터 포맷이다. 특히, 인터넷에서 자료를 주고 받을 때 그 자료를 표현하는 방법으로 알려져 있다. 자료의 종류에 큰 제한은 없으며, 특히 컴퓨터 프로그램의 변수값을 표현하는 데 적합하다.
본래는 자바스크립트 언어로부터 파생되어 자바스크립트의 구문 형식을 따르지만 언어 독립형 데이터 포맷이다. 즉, 프로그래밍 언어나 플랫폼에 독립적이므로, 구문 분석 및 JSON 데이터 생성을 위한 코드는 C, C++, C#, 자바, 자바스크립트, 펄, 파이썬 등 수많은 프로그래밍 언어에서 쉽게 이용할 수 있다.

* 출처 : [JSON - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/JSON)

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)

In [4]:
# requests 라이브러리를 통해 url을 받아옵니다.
response = requests.get(url)
response

In [5]:
# response.json()

### JSON 타입으로 데이터 받기

In [6]:
# requests 의 응답을 json 타입으로 받습니다.
etf_json = response.json()
# etf_json["result"]

### JSON 에서 원하는 데이터 찾기

In [7]:
# result > etfItemList 의 하위 구조로 목록을 찾고자 하는 데이터를 가져옵니다.
etfItemList = etf_json["result"]['etfItemList']
len(etfItemList)

469

## 데이터프레임 변환
### JSON 데이터를 pandas 의 데이터프레임 형태로 만들기

In [8]:
# 키-값 형태의 데이터를 데이터프레임으로 만듭니다.
df = pd.DataFrame(etfItemList)
df.shape

(469, 12)

### 데이터 확인

In [9]:
# 데이터 프레임으로 잘 만들어 졌는지 상단 데이터의 일부만 미리보기 합니다.
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,42120,5,-740,-1.73,42224.0,37.7970,7789305,328548,59789
1,102110,1,TIGER 200,41960,5,-720,-1.69,42058.0,37.7449,980293,41177,31218
2,252670,3,KODEX 200선물인버스2X,2170,2,85,4.08,2169.0,-49.6377,547890146,1182937,23041
3,153130,6,KODEX 단기채권,102670,2,5,0.00,102670.0,0.1170,20126,2066,17651
4,102780,2,KODEX 삼성그룹,10595,5,-275,-2.53,10578.0,42.0915,787649,8360,16835

In [10]:
# 데이터 프레임으로 잘 만들어 졌는지 하단 데이터의 일부만 미리보기 합니다.
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
464,285010,2,KBSTAR 200중공업,8480,5,-320,-3.64,8530.0,21.5469,1266,10,22
465,334700,5,KBSTAR 팔라듐선물인버스(H),5355,2,35,0.66,NaN,0.6622,533,2,21
466,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),5860,5,-55,-0.93,NaN,4.5977,1801,10,18
467,285020,2,KBSTAR 200철강소재,7060,5,-275,-3.75,7091.0,26.5746,21349,150,17
468,287320,2,KBSTAR 200산업재,10470,5,-215,-2.01,10468.0,33.8134,835,8,13

## 파일 저장
### 파일명 만들기

In [11]:
# 파이썬 표준라이브러리인 datetime을 불러옵니다.
# 날짜를 만들어 저장하기 위해 오늘 날짜를 구합니다.
import datetime

today = datetime.datetime.today()
today = today.strftime("%Y-%m-%d")
today

'2021-01-28'

In [12]:
# f-string 방식으로 파일명을 만들어 줍니다.
# eft_날짜_raw.csv 형태로 만듭니다.
file_name = f"eft_{today}_raw.csv"
file_name

'eft_2021-01-28_raw.csv'

### 파일로 저장하고 불러오기

In [13]:
# csv 형태로 저장합니다. index 가 저장되지 않도록 합니다.
df.to_csv(file_name, index=False)

In [14]:
# 저장된 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
pd.read_csv(file_name, dtype={"itemcode": np.object})

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,42120,5,-740,-1.73,42224.0,37.7970,7789305,328548,59789
1,102110,1,TIGER 200,41960,5,-720,-1.69,42058.0,37.7449,980293,41177,31218
2,252670,3,KODEX 200선물인버스2X,2170,2,85,4.08,2169.0,-49.6377,547890146,1182937,23041
3,153130,6,KODEX 단기채권,102670,2,5,0.00,102670.0,0.1170,20126,2066,17651
4,102780,2,KODEX 삼성그룹,10595,5,-275,-2.53,10578.0,42.0915,787649,8360,16835
...,...,...,...,...,...,...,...,...,...,...,...,...
464,285010,2,KBSTAR 200중공업,8480,5,-320,-3.64,8530.0,21.5469,1266,10,22
465,334700,5,KBSTAR 팔라듐선물인버스(H),5355,2,35,0.66,NaN,0.6622,533,2,21
466,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),5860,5,-55,-0.93,NaN,4.5977,1801,10,18
467,285020,2,KBSTAR 200철강소재,7060,5,-275,-3.75,7091.0,26.5746,21349,150,17
468,287320,2,KBSTAR 200산업재,10470,5,-215,-2.01,10468.0,33.8134,835,8,13